body {
  margin: 0;
  padding: 0;
  background-color: #fffbf4;
  color: #4a4a4a;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

:focus {
  outline: 0 none;
}

::-webkit-input-placeholder {
  color: #ccc;
}
::-moz-placeholder {
  color: #ccc;
}
:-moz-placeholder {
  color: #ccc;
}
:-ms-input-placeholder {
  color: #ccc;
}
